<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница входа</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
</head>
<body>
<div class="parent" style="display: flex; flex-direction: column; align-items: center">
    <div class=class="mb-3">
        <h1><b>Sign in to AnonymousChat</b></h1>
    </div>
    <div class="mb-3" style="display: flex; justify-content: space-around;">
        <form id='formElement'>
            <div class="mb-3">
                <label class="form-label">Username</label>
                <input class="form-control input-medium" type="text" size="30" maxlength="25" name="nickname" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input class="form-control" type="password" size="30" maxlength="25" name="password" required>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Sign In</button>
                <label class="form-label">or</label>
                <a href="registration" class="redirect">
                    <div class="redirect">Sign Up</div>
                </a>
            </div>
        </form>
        <div class="mb-3" id='userMessage'></div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous">
</script>

<script>
    let form = document.getElementById('formElement');
    form.onsubmit = async function getData(event) {
        event.preventDefault();
        try {
            let formData = new FormData(form);
            let jsonForm = {};
            formData.forEach((value, key) => jsonForm[key] = value);
            console.log(JSON.stringify(jsonForm));
            let data = await fetch('http://localhost:5004/user/login', {
                method: 'POST',
                redirect: 'follow',
                headers: {'Content-Type': 'application/json;charset=utf-8'},
                body: JSON.stringify(jsonForm)
            });
            if(!data.ok) {
                let jsonData = await data.json();
                let msg = jsonData.message;
                throw new Error(msg);
            }else {
                document.getElementById('userMessage').textContent = '';
                window.location.replace("http://localhost:5004/chats");
            }
        } catch (e) {
            console.log(e);
            document.getElementById('userMessage').textContent = e.message;
        }
    }
</script>

</body>
</html>